<!--=========================================================================
# Copyright 2018 Contributors to Hyperledger Sawtooth

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
=========================================================================-->

# ISOLATION_ID=latest

# SERVER_HOST=0.0.0.0
# SERVER_PORT=8000
# VALIDATOR_HOST=validator
# VALIDATOR_PORT=4004
# VALIDATOR_REST_HOST=rest-api
# VALIDATOR_REST_PORT=8008
# VALIDATOR_TIMEOUT=500
# DB_HOST=rethink
# DB_PORT=28015
# DB_NAME=rbac
# CHATBOT_HOST=chatbot
# CHATBOT_PORT=5005
# CLIENT_HOST=http://localhost
# CLIENT_PORT=4201
# CLIENT_ID=<AAD Client ID>
# CLIENT_SECRET=<AAD Client Secret>
# TENANT_ID=<AAD Tenant ID>
# AUTH_TYPE='SECRET' #('CERT' or 'SECRET')  This is for what method of sign on you are doing.

SECRET_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890
AES_KEY=1111111111111111111111111111111111111111111111111111111111111111
BATCHER_PRIVATE_KEY=1111111111111111111111111111111111111111111111111111111111111111

# LISTENER_POLLING DELAY=1
# CLIENT_ID=ABCDEFGH-IJKL-MNOP-QRSTUVWXYZ12
# CLIENT_SECRET==ABCDEFGHIJKLMNOPQRSTUVWXYZ123
# TENANT_ID=ABCDEFG-HIJK-LMNO-PQRS-TUVWXYZ1234
# CLIENT_ASSERTION=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890.ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890.ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890
# AUTH_TYPE=CERT

# LDAP_DC=DC=test,DC=example,DC=com
# LDAP_SERVER=ldap://10.000.000.000
# LDAP_USER=ldap_user
# LDAP_PASS=ldap_user
# DELTA_SYNC_INTERVAL_SECONDS=3600

DEMO_MODE=True

# <-- Required Environment Variables -->
COMPOSE_CONVERT_WINDOWS_PATHS=1
