PyYAML==4.2b1
bcrypt==3.1.7
black==18.9b0
environs==4.1.0
itsdangerous==0.24
dredd_hooks==0.2.0
rethinkdb==2.3.0.post6
sawtooth_sdk==1.0.5
sawtooth_signing==1.0.5
aiohttp==3.4.4
sanic==0.8.3
sanic-cors==0.9.7
protobuf==3.6.1
requests==2.20.0
pyzmq==17.1.2
pylint==2.1.1
astroid==2.0.4
clang==6.0
pycodestyle==2.4.0
pipreqs==0.4.9
pytest==3.8.2
pytest-asyncio==0.10.0
pytest-cov==2.6.0
pytest-env==0.6.2
grpcio-tools==1.15.0
cryptography==2.3.1
ldap3==2.5.1
rasa_core==0.12.2
rasa_nlu==0.13.8
azure-eventhub==1.1.1
pytz==2018.7
sanic-openapi==0.5.3
