.snapshot-sub-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  justify-content: center;
  margin-top: 6.8em;
}

.snapshot-container {
  margin: 1em;
  width:30%;
}

.snapshot-main-container {
  background: linear-gradient(to bottom, #44568F, #161718);
  height: 100%;
  margin-top: 2.8em;
  position: relative;
  z-index: 1;
}

.snapshot-header {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}

#next-snapshot-header {
  color: #FEFEFE;
  font-size: 2em;
  font-weight: bold;
  margin-left: 1.5em; 
  cursor: pointer;  
}

#next-snapshot-button {
  margin-right: 1em;
  background: none;
  color:#DCDFE9;
}
