.snapshot-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 62px;
  padding: 1em;
  width: 100%;
}

.snapshot-container {
  margin-top: 26px;
}

.snapshot-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 1.5em;
}

#next-snapshot-header {
  margin: 0 53px;
}

#next-snapshot-button {
  background: none;
  color:#DCDFE9;
  margin: -10px 20px 0 0;
}

.next-snapshot-glyph {
  position: absolute !important;
  right: 8%;
  top: 11px;
  width: 30%;
}
