# Application configuration override file
# At startup, the application configuration loads in the following order:
#  - cli args : Top priority. Will override everything else
#  - config.py : Overrides the default config
#  - main.py default config : Applied in the absence of all others

# To use this file, copy and rename to 'config.py' so it will override
# the defaults in main.py
# DO NOT COMMIT config.py TO GIT! These values should be provided to the application by a means
# outside the version control system(separate config, cli args, etc.)

# Secret keys
SECRET_KEY = None  # any string
AES_KEY = None  # 32 character hex string
BATCHER_PRIVATE_KEY = None  #64 character hex string
